nav {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    min-height: 14vh;
    padding: 20px 40px;
    box-sizing: border-box;

    backdrop-filter: blur(8px);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

nav .logo img {
    width: 200px;
    height: auto;
}

nav .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li a {
    font-size: 20px;
    font-family: 'inter', sans-serif;
    color: white;
    opacity: 0.7;
    letter-spacing: 1px;

    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    transform: translateY(-6px);
    opacity: 1 !important;
}